.form-title {
  margin: 10px auto;
  width: 50%;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.auth-form {
  display: grid;
  margin: 10px auto;
  padding: 10px;
  width: 50%;
  font-size: 15px;
  border: 1px solid gray;;
  border-radius: 6px;
  background-color: rgb(235, 232, 232);
}

.auth-form > label {
  margin-top: 10px;
  margin-bottom: 2px;
}

.auth-form > input {
  font-size: 14px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid gray;
}

.auth-form > input[type=text]:focus {
  background-color: #e4eef8;
}

.auth-form > button {
  margin-top: 10px;
  padding: 5px 0;
  border-radius: 3px;
  border: 1px solid gray;
  background-color: lightgray;
}

.auth-form > button:hover {
  background-color: rgb(189, 189, 189);
  cursor: pointer;
}

.auth-form > button:active {
  opacity: 0.75;
}
