extends layout

append head
  link(rel="stylesheet" href="/stylesheets/error.css")
block content
  div.not-found
    h1.error-text 404
    h2.error-text Page Not Found
    img(src="/images/shrug-clear.png" width='35%')
