extends layout

append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/index.css")
  //- add page specific js
  script(src="/javascripts/index.js" type="module" defer)

block content
  h1(class="heading")= "Do I Need It?"
  h2(class="sub-heading")= "YES! The wishlist app for shopaholics."

  div(class="sign-up")
    a(href="/users/signup") Sign Up for FREE
  div
    i(class="fas fa-couch")
    i(class="fas fa-chair")
  div(class='main-picture')
    img(src="/images/mainpic.png")
