extends layout.pug

block content
    div.middle-section
        ul
          each item in items
            a(href=`/wishlists/${wishListId}/items/${item.id}`)= item.name
            br
        br
        a(href=`/wishlists/${wishListId}`) Back to Wishlist
