doctype html
html
  head
      block head
        title Do I Need It | #{title}
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel="stylesheet", href='/stylesheets/forms.css')
        link(href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet")
        script(src="https://kit.fontawesome.com/8dc2de88be.js" crossorigin="anonymous")

  body
    nav(class='nav-bar')
      div(class='nav-left')
        a(href='/')
          img(src='/images/Shrug-Emoji-white.png' width='100px')
        if authenticated
          div.search-bar
            form(action="/wishlists/search")
              i(class="fas fa-search")
              input(type="search", name="term" placeholder="Search for Wishlist")
              button(type="submit" class="search-button") Search
      div(class='nav-right')
        if authenticated
          p(class='welcome') Welcome, #{user.fullName}!
          form(method='post' action='/users/logout')
            button(type='submit' class='nav-button') Logout
        else
          a(href='/users/login' class='nav-button') Log In
          a(href='/users/signup' class='nav-button sign-up') Sign Up for FREE
    block content
