extends layout.pug

block content
  h1(class='form-title') Log In

  form(action="/users/login" method="post" class="auth-form")
    input(type="hidden" name="_csrf" value=csrfToken)
    label(for="email") Email
    input(type="email", name="email" required value=email)
    label(for="password") Password
    input(type="password", name="password" required)
    button(type="submit") Log In
  div.user-question
    p Don't have an account?
      a(href='/users/signup') Sign up
    form(method='post' action='/users/demo-login')
      input(type='hidden' name='_csrf' value=csrfToken)
      input(type='submit' value='Demo User')
  if errors
    ul(class='error-list')
      each error in errors
        li= error
