.form-title {
  margin: 30px auto 15px auto;
  width: 50%;
  padding-left: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.auth-form {
  display: grid;
  margin: 10px auto;
  padding: 10px;
  width: 50%;
  font-size: 15px;
  border: 1px solid #e74d89;
  border-radius: 6px;
  background: white;
}

.auth-form > label {
  margin-top: 10px;
  margin-bottom: 2px;
}

.auth-form > input {
  font-size: 16px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #e74d89;
}

.auth-form > button {
  margin-top: 10px;
  padding: 5px 0;
  border-radius: 3px;
  border: 1px solid #e74d89;
  color: white;
  background: linear-gradient(100deg,#e74d89,#febaa6);
}

.auth-form > button:hover {
  background: linear-gradient(100deg, #febaa6,#e74d89);
  cursor: pointer;
}

.auth-form > button:active {
  opacity: 0.75;
}

.error-list {
  margin: 5px auto;
  width: 50%;
  list-style: none;
  padding: 10px;
  background-color: #f8d7da;

}

.error-list::before {
  content: '!!';
  font-weight: bolder;
  color: #b12c37;
}

.error-list > li {
  padding: 5px;
  font-size: 14px;
  /* color:rgba(0, 0, 0, 0.7); */
  color: #cc5e67;
  font-weight: bold;
}

.update-title {
  margin: 10px auto;
  width: 50%;
  padding: 10px;
  padding-bottom: 0px;
  color: rgb(68, 68, 68);
}
.update-form {
  display: grid;
  margin: 10px auto;
  padding: 10px;
  width: 50%;
  font-size: 15px;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  background-color: white;
}

.update-form > label {
  margin-top: 10px;
  margin-bottom: 2px;
  opacity: 70%;
}

.update-form > input, select {
  height: 30px;
  font-size: 14px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
}

.update-form > button {
  color: white;
  margin-top: 10px;
  padding: 5px 0;
  border-radius: 3px;
  border: 1px solid #00AB90;
  background-color: #00AB90;
  width: fit-content;
  padding: 5px 10px;
}

.update-form > button:hover {
  background-color: #02695a;
  border: 1px solid #02695a;
  cursor: pointer;
}

.update-form > button:active {
  opacity: 0.75;
}

.purchased > label {
 margin: 5px 15px 5px 2px;
}

.back-to-wishlist {
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #d24b03;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin: 10px auto;
  width: fit-content;
}

.back-to-wishlist:hover {
  cursor: pointer;
  background-color: #c04808;
}


.middle-section > .update-title {
  margin: 5px;
}

.middle-section > .update-form {
  width: auto;
  border: none;
}

.middle-section > .update-form > input {
  font-size: 1rem;
}

.public > label {
  margin: 5px 15px 5px 2px;
}

.update-form > textarea {
  height: 70px;
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.delete-wishlist {
  text-decoration: none;
  background-color: rgb(211, 15, 15);
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin: 10px 0;
  width: fit-content;
}

.delete-wishlist:hover {
  background-color: rgb(160, 20, 20);
}

.demo {
  color: white;
  margin: 5px;
  padding: 5px 0;
  border-radius: 3px;
  background-color: #e66194;
  border: 1px solid #e66194;
  width: fit-content;
  padding: 5px 10px;
  text-decoration: none;
}

.demo:hover {
  cursor: pointer;
  background-color: #e74d89;
  border: 1px solid #e74d89;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}