html {
  background-color: #e4eef8;
}

body {
  padding: 50px;
  font: 14px Verdana, Geneva, Tahoma, sans-serif;
}

a {
  color: #00B7FF;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, a, ol, li, ul, div, span,
body, header, nav {
  font-size: 1rem;
  color: inherit;
  background-color: transparent;
  margin: 0;
  padding: 0;
  outline: 0;
  font-weight: normal;
}

h1 {
  font-size: 2rem;
}

.nav-bar {
  background-color: #0077B8;
  color: rgb(241, 241, 241);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px 10px;
}

.nav-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 12px;
}

.nav-right > * {
  margin: 0 5px;
}

#home {
  border: none;
  font-size: 15px;
}

.nav-button {
  text-decoration: none;
  color: rgb(241, 241, 241);
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
  background-color: transparent;
}

.nav-button:hover {
  background-color: #006094;
}

.nav-button:active {
  opacity: 0.50;
}

.welcome {
  font-size: 14px;
  margin: 0;
  padding: 5px;
}

.sign-up.nav-button {
  border: 1px solid rgb(241, 241, 241);
}
