html {
    height: 100%;
}

body {
    height: 100%;

}
.content-container {
    display: flex;
    justify-content: stretch;
    /* height: 115%; */

}
.left-nav-bar {
    display: block;
    width: 220px;
    min-width: 200px;
    padding: 20px;
}

.middle-section {
    background-color: white;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    min-width: 600px;
    width: 50%;
    height: 87vh;
}

.user-wishlists {
    list-style-type: none;
    padding: 5px 0px;
}

.user-wishlists > a {
    text-decoration: none;
}

.far {
    margin-left: 10px;
    padding: 1px;
}

.far:hover {
    background-color: #0077B8;
    color:white;
}

.comment-border {
    border: 1px solid lightgray;
    border-radius: 10px;
    margin: 5px;
    padding: 15px 15px;
    list-style-type: none;
    font-size: 12px;
}

.comment-border:hover {
    background-color: #fffac0;
    /* opacity: 50%; */
    border: 1px solid gray;
}

.comments-container {
    overflow-y: auto;
    height: 40vh;
    /* border: 2px solid black; */
}

.comment-date {
    margin: 0;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.wishlist-info {
    padding: 10px;
}

.wishlist-info p {
    font-size: 0.85rem;
    opacity: 0.75;
}

.comment-box {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid lightgray;
    width: 75%;
}

.comment-box:hover {
    border: 1px solid gray;
}


.post-comment {
    display: flex;
    margin-top: 75px;
    /* justify-content: space-between; */

}

.comment-button {
    display: flex;
    justify-self: flex-end;
    width: fit-content;
    margin-left: 5px;
}

.edit-content {
    font-size: 12px;
}

.item-name {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.total-cost {
    text-align: end;
    margin-bottom: 20px;
    font-weight: bold;
}

.anchor {
    text-decoration: none;
}

.anchor:hover {
    opacity: 50%;
}

.wishlist-button {
    margin-bottom: 10px;
    margin-top: 10px;
}

.wishlist-button > a {
    text-decoration: none;
    background-color: #d24b03;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin: 5px;
}

.wishlist-button > a:hover {
    background-color: #c04808;
  }

.wishlist-summary {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    height: 25%;
}

.total-items {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 10px;
}

.items-container {
    background-color: rgba(255, 255, 255, 0.897);
    box-shadow: -2px 0 0 #d9d9d9;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    min-width: 400px;
    width: 35%;
    overflow: hidden;
}

.items-firstline {
    padding: 15px 0;
}
.item-header {
    font-size: 19px;
    font-weight: 550;
    padding: 10px;
    color: #0077B8;
}

.item-details > ul {
    list-style-type: none;
    padding: 10px;
    color: rgb(87, 86, 86);
    font-size: 1rem
}

.item-details > ul > li {
    padding: 3px;
}

.item-link {
    font-size: .8rem;
}

.item-link:hover {
    opacity: 0.8;
}

.purchase-icons > i {
    margin: 0px 5px 0px 2px;
}

.purchase-icons > .far:hover {
    background-color: white;
    color: black
}

.user-name {
    font-size: .8rem;
    color: rgb(87, 86, 86);
}
