html {
    height: 100%;
}

body {
    height: 100%;

}
.content-container {
    display: flex;
    justify-content: stretch;
    /* height: 115%; */

}
.left-nav-bar {
    display: block;
    width: 200px;
    padding: 20px;
}

.middle-section {
    background-color: white;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    min-width: 600px;
    width: 50%;
    overflow: hidden;
}

.user-wishlists {
    list-style-type: none;
    padding: 5px 0px;
}

.user-wishlists > a {
    text-decoration: none;
}

.far {
    margin-left: 10px;
    padding: 1px;
}

.far:hover {
    background-color: #0077B8;
    color:white;
}

.comment-border {
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    margin: 5px;
    padding: 15px 15px;
    list-style-type: none;
    font-size: 12px;
}

.comments-container {
    height: 115%;
    /* border: 2px solid black; */
}

.comment-date {
    margin: 0;
}

.comment-header {
    display: flex;
    justify-content: space-between;
}

.wishlist-info {
    padding: 10px;
}

.comment-box {
    padding: 3px;
    border-radius: 3px;
    border: 1px solid gray;
    width: 75%;
}

.post-comment {
    display: flex;
    margin-top: 5px;
    /* justify-content: space-between; */

}

.comment-button {
    display: flex;
    justify-self: flex-end;
    width: fit-content;
    margin-left: 5px;
}

.item-name {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
}

.total-cost {
    text-align: end;
    margin-bottom: 20px;
    font-weight: bold;
}

.anchor {
    text-decoration: none;
}

.anchor:hover {
    opacity: 50%;
}

.wishlist-button {
    margin-bottom: 10px;
}

.wishlist-button > a {
    text-decoration: none;
    background-color: #d24b03;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    margin: 5px;
}

.wishlist-summary {
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    height: 25%;
}

.total-items {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    padding: 10px;
}
